openapi: 3.0.0
servers:
- description: Snowflake Database API
  url: https://org-account.snowflakecomputing.com
info:
  version: 0.0.1
  title: Snowflake Database API
  description: The Snowflake Database API is a REST API that you can use to access, update, and perform certain actions on Database resource in Snowflake.
  contact:
    name: Snowflake, Inc.
    url: https://snowflake.com
    email: support@snowflake.com
paths:
  /api/v2/databases:
    get:
      summary: List Databases.
      tags:
      - database
      description: Lists the accessible databases.
      operationId: listDatabases
      parameters:
      - $ref: common.yaml#/components/parameters/like
      - $ref: common.yaml#/components/parameters/startsWith
      - $ref: common.yaml#/components/parameters/showLimit
      - $ref: common.yaml#/components/parameters/fromName
      - name: history
        in: query
        description: Optionally includes dropped databases that have not yet been purged.
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: Successful request.
          headers:
            X-Snowflake-Request-ID:
              $ref: common.yaml#/components/headers/X-Snowflake-Request-ID
            Link:
              $ref: common.yaml#/components/headers/Link
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Database'
              examples:
                Listdatabases200Example:
                  summary: Default listDatabases 200 response
                  x-microcks-default: true
                  value:
                  - created_on: '2026-01-15T10:30:00Z'
                    name: {}
                    kind: PERMANENT
                    is_default: true
                    is_current: true
                    origin: example_value
                    owner: example_value
                    comment: example_value
                    options: example_value
                    retention_time: 10
                    dropped_on: '2026-01-15T10:30:00Z'
                    budget: example_value
                    owner_role_type: example_value
                    data_retention_time_in_days: 10
                    default_ddl_collation: example_value
                    log_level: example_value
                    max_data_extension_time_in_days: 10
                    suspend_task_after_num_failures: 10
                    trace_level: example_value
                    user_task_managed_initial_warehouse_size: example_value
                    user_task_timeout_ms: 10
                    serverless_task_min_statement_size: example_value
                    serverless_task_max_statement_size: example_value
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Create a Database.
      tags:
      - database
      description: Creates a database, with modifiers as query parameters. You must provide the full database definition when creating a database.
      operationId: createDatabase
      parameters:
      - $ref: common.yaml#/components/parameters/createMode
      - name: kind
        in: query
        description: Type of database to create. Currently, Snowflake supports only `transient` and `permanent` (also represented by the empty string).
        schema:
          type: string
        deprecated: true
        example: example_value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Database'
            examples:
              CreatedatabaseRequestExample:
                summary: Default createDatabase request
                x-microcks-default: true
                value:
                  created_on: '2026-01-15T10:30:00Z'
                  name: {}
                  kind: PERMANENT
                  is_default: true
                  is_current: true
                  origin: example_value
                  owner: example_value
                  comment: example_value
                  options: example_value
                  retention_time: 10
                  dropped_on: '2026-01-15T10:30:00Z'
                  budget: example_value
                  owner_role_type: example_value
                  data_retention_time_in_days: 10
                  default_ddl_collation: example_value
                  log_level: example_value
                  max_data_extension_time_in_days: 10
                  suspend_task_after_num_failures: 10
                  trace_level: example_value
                  user_task_managed_initial_warehouse_size: example_value
                  user_task_timeout_ms: 10
                  serverless_task_min_statement_size: example_value
                  serverless_task_max_statement_size: example_value
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases:from-share:
    post:
      summary: Create a Database From a Share.
      tags:
      - database
      description: Creates a database from a given share.
      operationId: createDatabaseFromShare
      parameters:
      - $ref: common.yaml#/components/parameters/createMode
      - name: share
        in: query
        description: ID of the share from which to create the database, in the form "<provider_account>.<share_name>".
        schema:
          type: string
        example: example_value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseFromShare'
            examples:
              CreatedatabasefromshareRequestExample:
                summary: Default createDatabaseFromShare request
                x-microcks-default: true
                value:
                  name: {}
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases/{name}:from_share:
    post:
      summary: Create a Database From a Share.
      tags:
      - database
      description: Creates a database from a given share.
      operationId: createDatabaseFromShareDeprecated
      parameters:
      - $ref: common.yaml#/components/parameters/name
      - $ref: common.yaml#/components/parameters/createMode
      - name: share
        in: query
        description: ID of the share from which to create the database, in the form "<provider_account>.<share_name>".
        schema:
          type: string
        example: example_value
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      deprecated: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases/{name}:clone:
    post:
      summary: Clone a Database.
      tags:
      - database
      description: Clones an existing database, with modifiers as query parameters. You must provide the full database definition when cloning an existing database.
      operationId: cloneDatabase
      parameters:
      - $ref: common.yaml#/components/parameters/name
      - $ref: common.yaml#/components/parameters/createMode
      - name: kind
        in: query
        description: Type of database to create. Currently, Snowflake supports only `transient` and `permanent` (also represented by the empty string).
        schema:
          type: string
        deprecated: true
        example: example_value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseClone'
            examples:
              ClonedatabaseRequestExample:
                summary: Default cloneDatabase request
                x-microcks-default: true
                value:
                  point_of_time: {}
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases/{name}:
    get:
      tags:
      - database
      description: Fetches a database.
      operationId: fetchDatabase
      parameters:
      - $ref: common.yaml#/components/parameters/name
      responses:
        '200':
          description: successful
          headers:
            X-Snowflake-Request-ID:
              $ref: common.yaml#/components/headers/X-Snowflake-Request-ID
            Link:
              $ref: common.yaml#/components/headers/Link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
              examples:
                Fetchdatabase200Example:
                  summary: Default fetchDatabase 200 response
                  x-microcks-default: true
                  value:
                    created_on: '2026-01-15T10:30:00Z'
                    name: {}
                    kind: PERMANENT
                    is_default: true
                    is_current: true
                    origin: example_value
                    owner: example_value
                    comment: example_value
                    options: example_value
                    retention_time: 10
                    dropped_on: '2026-01-15T10:30:00Z'
                    budget: example_value
                    owner_role_type: example_value
                    data_retention_time_in_days: 10
                    default_ddl_collation: example_value
                    log_level: example_value
                    max_data_extension_time_in_days: 10
                    suspend_task_after_num_failures: 10
                    trace_level: example_value
                    user_task_managed_initial_warehouse_size: example_value
                    user_task_timeout_ms: 10
                    serverless_task_min_statement_size: example_value
                    serverless_task_max_statement_size: example_value
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      summary: Create a New, or Alters an Existing, Database.
      tags:
      - database
      description: Creates a new, or alters an existing, database. You must provide the full database definition even when altering an existing database.
      operationId: createOrAlterDatabase
      parameters:
      - $ref: common.yaml#/components/parameters/name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Database'
            examples:
              CreateoralterdatabaseRequestExample:
                summary: Default createOrAlterDatabase request
                x-microcks-default: true
                value:
                  created_on: '2026-01-15T10:30:00Z'
                  name: {}
                  kind: PERMANENT
                  is_default: true
                  is_current: true
                  origin: example_value
                  owner: example_value
                  comment: example_value
                  options: example_value
                  retention_time: 10
                  dropped_on: '2026-01-15T10:30:00Z'
                  budget: example_value
                  owner_role_type: example_value
                  data_retention_time_in_days: 10
                  default_ddl_collation: example_value
                  log_level: example_value
                  max_data_extension_time_in_days: 10
                  suspend_task_after_num_failures: 10
                  trace_level: example_value
                  user_task_managed_initial_warehouse_size: example_value
                  user_task_timeout_ms: 10
                  serverless_task_min_statement_size: example_value
                  serverless_task_max_statement_size: example_value
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Delete a Database.
      tags:
      - database
      description: Deletes the specified database. If you enable the `ifExists` parameter, the operation succeeds even if the database does not exist. Otherwise, a 404 failure is returned if the 
        database does not exist. if the drop is unsuccessful.
      operationId: deleteDatabase
      parameters:
      - $ref: common.yaml#/components/parameters/name
      - $ref: common.yaml#/components/parameters/ifExists
      - name: restrict
        in: query
        description: 'Whether to drop the database if foreign keys exist that reference any tables in the database.

          - `true`: Return a warning about existing foreign key references and don''t drop the database.

          - `false`: Drop the database and all objects in the database, including tables with primary or unique keys that are referenced by foreign keys in other tables.'
        schema:
          type: boolean
          default: false
        example: true
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases/{name}:undrop:
    post:
      summary: Undrop a Database.
      tags:
      - database
      description: Undrops database.
      operationId: undropDatabase
      parameters:
      - $ref: common.yaml#/components/parameters/name
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases/{name}/replication:enable:
    post:
      summary: Enable Database Replication.
      tags:
      - database
      description: Promotes a local database to serve as a primary database for replication. A primary database can be replicated in one or more accounts, allowing users in those accounts to query 
        objects in each secondary (i.e. replica) database.
      operationId: enableDatabaseReplication
      parameters:
      - $ref: common.yaml#/components/parameters/name
      - name: ignore_edition_check
        in: query
        description: 'Whether to allow replicating data to accounts on lower editions. Default: `true`.

          For more information, see the <a href=https://docs.snowflake.com/en/sql-reference/sql/alter-database> ALTER DATABASE</a> reference.'
        schema:
          type: boolean
        example: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdentifiers'
            examples:
              EnabledatabasereplicationRequestExample:
                summary: Default enableDatabaseReplication request
                x-microcks-default: true
                value:
                  accounts:
                  - example_value
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases/{name}/replication:disable:
    post:
      summary: Disable Database Replication.
      tags:
      - database
      description: Disables replication for this primary database, meaning no replica of this database (i.e. secondary database) in another account can be refreshed. Any secondary databases remain 
        linked to the primary database, but requests to refresh a secondary database are denied.
      operationId: disableDatabaseReplication
      parameters:
      - $ref: common.yaml#/components/parameters/name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdentifiers'
            examples:
              DisabledatabasereplicationRequestExample:
                summary: Default disableDatabaseReplication request
                x-microcks-default: true
                value:
                  accounts:
                  - example_value
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases/{name}/replication:refresh:
    post:
      summary: Refresh Database Replications.
      tags:
      - database
      description: 'Refreshes a secondary database from a snapshot of its primary database. A snapshot includes changes to the objects and data.

        If you call this endpoint while another refresh for the same replica database is running, it fails and returns an error. Snowflake ensures only one refresh is executed at any given time.'
      operationId: refreshDatabaseReplication
      parameters:
      - $ref: common.yaml#/components/parameters/name
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases/{name}/failover:enable:
    post:
      summary: Enable Database Failover.
      tags:
      - database
      description: Specifies a comma-separated list of accounts in your organization where a replica of this primary database can be promoted to serve as the primary database.
      operationId: enableDatabaseFailover
      parameters:
      - $ref: common.yaml#/components/parameters/name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdentifiers'
            examples:
              EnabledatabasefailoverRequestExample:
                summary: Default enableDatabaseFailover request
                x-microcks-default: true
                value:
                  accounts:
                  - example_value
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases/{name}/failover:disable:
    post:
      summary: Disable Database Failover.
      tags:
      - database
      description: Disables failover for this primary database, meaning no replica of this database (i.e. secondary database) can be promoted to serve as the primary database.
      operationId: disableDatabaseFailover
      parameters:
      - $ref: common.yaml#/components/parameters/name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdentifiers'
            examples:
              DisabledatabasefailoverRequestExample:
                summary: Default disableDatabaseFailover request
                x-microcks-default: true
                value:
                  accounts:
                  - example_value
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases/{name}/failover:primary:
    post:
      summary: Set a Primary Database.
      tags:
      - database
      description: Promotes the specified secondary (replica) database to serve as the primary database. When promoted, the database becomes writeable. At the same time, the previous primary database 
        becomes a read-only secondary database.
      operationId: primaryDatabaseFailover
      parameters:
      - $ref: common.yaml#/components/parameters/name
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AccountIdentifiers:
      type: object
      description: Array of unique account identifiers.
      properties:
        accounts:
          type: array
          items:
            type: string
            minLength: 1
          example: []
      example:
        accounts:
        - accountName1
        - accountName2
      required:
      - accounts
    Database:
      type: object
      description: Snowflake database object.
      properties:
        created_on:
          type: string
          format: date-time
          readOnly: true
          description: Date and time the database was created.
          example: '2026-01-15T10:30:00Z'
        name:
          $ref: ./common.yaml#/components/schemas/Identifier
          description: Name of the database.
        kind:
          type: string
          enum:
          - PERMANENT
          - TRANSIENT
          default: PERMANENT
          description: Database type, permanent (default) or transient.
          example: PERMANENT
        is_default:
          type: boolean
          readOnly: true
          description: Whether the database is the default database for a user.
          example: true
        is_current:
          type: boolean
          readOnly: true
          description: Current database for the session.
          example: true
        origin:
          type: string
          readOnly: true
          example: example_value
        owner:
          type: string
          readOnly: true
          description: Name of the role that owns the database.
          example: example_value
        comment:
          type: string
          description: Optional comment in which to store information related to the database.
          example: example_value
        options:
          type: string
          readOnly: true
          example: example_value
        retention_time:
          type: integer
          readOnly: true
          description: Number of days that historical data is retained for Time Travel.
          example: 10
        dropped_on:
          type: string
          format: date-time
          readOnly: true
          nullable: true
          description: Date and time the database was dropped.
          example: '2026-01-15T10:30:00Z'
        budget:
          type: string
          readOnly: true
          description: Budget that defines a monthly spending limit on the compute costs for a Snowflake account or a custom group of Snowflake objects.
          example: example_value
        owner_role_type:
          type: string
          readOnly: true
          description: Type of role that owns the object, either ROLE or DATABASE_ROLE
          example: example_value
        data_retention_time_in_days:
          type: integer
          description: Specifies the number of days for which Time Travel actions (CLONE and UNDROP) can be performed on the database, as well as specifying the default Time Travel retention time for 
            all schemas created in the database.
          example: 10
        default_ddl_collation:
          type: string
          description: Default collation specification for all schemas and tables added to the database. You an override the default at the schema and individual table levels.
          example: example_value
        log_level:
          type: string
          description: Severity level of messages that should be ingested and made available in the active event table. Currently, Snowflake supports only `TRACE`, `DEBUG`, `INFO`, `WARN`, `ERROR`, 
            `FATAL` and `OFF`.
          example: example_value
        max_data_extension_time_in_days:
          type: integer
          description: Maximum number of days for which Snowflake can extend the data retention period for tables in the database to prevent streams on the tables from becoming stale.
          example: 10
        suspend_task_after_num_failures:
          type: integer
          description: Maximum number of consecutive failed task runs before the current task is suspended automatically.
          example: 10
        trace_level:
          type: string
          description: How trace events are ingested into the event table. Currently, Snowflake supports only `ALWAYS`, `ON_EVENT`, and `OFF`.
          example: example_value
        user_task_managed_initial_warehouse_size:
          type: string
          description: Size of the compute resources to provision for the first run of the serverless task, before a task history is available for Snowflake to determine an ideal size.
          example: example_value
        user_task_timeout_ms:
          type: integer
          description: Time limit, in milliseconds, for a single run of the task before it times out.
          example: 10
        serverless_task_min_statement_size:
          type: string
          description: Specifies the minimum allowed warehouse size for the serverless task. Minimum XSMALL, Maximum XXLARGE.
          example: example_value
        serverless_task_max_statement_size:
          type: string
          description: Specifies the maximum allowed warehouse size for the serverless task. Minimum XSMALL, Maximum XXLARGE.
          example: example_value
      required:
      - name
    DatabaseClone:
      type: object
      description: Clone database.
      allOf:
      - $ref: '#/components/schemas/Database'
      properties:
        point_of_time:
          $ref: common.yaml#/components/schemas/PointOfTime
    DatabaseFromShare:
      type: object
      description: Database from share.
      properties:
        name:
          $ref: ./common.yaml#/components/schemas/Identifier
          description: Name of the database.
  securitySchemes:
    KeyPair:
      $ref: common.yaml#/components/securitySchemes/KeyPair
    ExternalOAuth:
      $ref: common.yaml#/components/securitySchemes/ExternalOAuth
    SnowflakeOAuth:
      $ref: common.yaml#/components/securitySchemes/SnowflakeOAuth
security:
- KeyPair: []
- ExternalOAuth: []
- SnowflakeOAuth: []
