openapi: 3.0.0
servers:
- description: Snowflake REST Server
  url: https://org-account.snowflakecomputing.com
info:
  version: 0.0.1
  title: Snowflake View API
  description: The Snowflake View API is a REST API that you can use to access, update, and perform certain actions on View resource in a Snowflake database.
  contact:
    name: Snowflake, Inc.
    url: https://snowflake.com
    email: support@snowflake.com
paths:
  /api/v2/databases/{database}/schemas/{schema}/views:
    get:
      summary: List Views
      tags:
      - view
      description: List views
      operationId: listViews
      parameters:
      - $ref: common.yaml#/components/parameters/database
      - $ref: common.yaml#/components/parameters/schema
      - $ref: common.yaml#/components/parameters/like
      - $ref: common.yaml#/components/parameters/startsWith
      - $ref: common.yaml#/components/parameters/showLimit
      - $ref: common.yaml#/components/parameters/fromName
      - name: deep
        description: Optionally includes dependency information of the view.
        in: query
        required: false
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: successful
          headers:
            X-Snowflake-Request-ID:
              $ref: common.yaml#/components/headers/X-Snowflake-Request-ID
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/View'
              examples:
                Listviews200Example:
                  summary: Default listViews 200 response
                  x-microcks-default: true
                  value:
                  - name: Example Title
                    secure: true
                    kind: PERMANENT
                    recursive: true
                    columns:
                    - {}
                    comment: example_value
                    query: example_value
                    created_on: '2026-01-15T10:30:00Z'
                    database_name: example_value
                    schema_name: example_value
                    owner: example_value
                    owner_role_type: example_value
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Create a View
      tags:
      - view
      description: Create a view
      operationId: createView
      parameters:
      - $ref: common.yaml#/components/parameters/database
      - $ref: common.yaml#/components/parameters/schema
      - $ref: common.yaml#/components/parameters/createMode
      - $ref: common.yaml#/components/parameters/copyGrants
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/View'
            examples:
              CreateviewRequestExample:
                summary: Default createView request
                x-microcks-default: true
                value:
                  name: Example Title
                  secure: true
                  kind: PERMANENT
                  recursive: true
                  columns:
                  - name: Example Title
                    comment: example_value
                    datatype: example_value
                  comment: example_value
                  query: example_value
                  created_on: '2026-01-15T10:30:00Z'
                  database_name: example_value
                  schema_name: example_value
                  owner: example_value
                  owner_role_type: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v2/databases/{database}/schemas/{schema}/views/{name}:
    get:
      summary: Fetch a View
      tags:
      - view
      description: Fetch a view
      operationId: fetchView
      parameters:
      - $ref: common.yaml#/components/parameters/database
      - $ref: common.yaml#/components/parameters/schema
      - $ref: common.yaml#/components/parameters/name
      responses:
        '200':
          description: successful
          headers:
            X-Snowflake-Request-ID:
              $ref: common.yaml#/components/headers/X-Snowflake-Request-ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
              examples:
                Fetchview200Example:
                  summary: Default fetchView 200 response
                  x-microcks-default: true
                  value:
                    name: Example Title
                    secure: true
                    kind: PERMANENT
                    recursive: true
                    columns:
                    - name: Example Title
                      comment: example_value
                      datatype: example_value
                    comment: example_value
                    query: example_value
                    created_on: '2026-01-15T10:30:00Z'
                    database_name: example_value
                    schema_name: example_value
                    owner: example_value
                    owner_role_type: example_value
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Delete a View
      tags:
      - view
      description: Delete a view
      operationId: deleteView
      parameters:
      - $ref: common.yaml#/components/parameters/database
      - $ref: common.yaml#/components/parameters/schema
      - $ref: common.yaml#/components/parameters/name
      - $ref: common.yaml#/components/parameters/ifExists
      responses:
        '200':
          $ref: common.yaml#/components/responses/200SuccessResponse
        '202':
          $ref: common.yaml#/components/responses/202SuccessAcceptedResponse
        '400':
          $ref: common.yaml#/components/responses/400BadRequest
        '401':
          $ref: common.yaml#/components/responses/401Unauthorized
        '403':
          $ref: common.yaml#/components/responses/403Forbidden
        '404':
          $ref: common.yaml#/components/responses/404NotFound
        '405':
          $ref: common.yaml#/components/responses/405MethodNotAllowed
        '408':
          $ref: common.yaml#/components/responses/408RequestTimeout
        '409':
          $ref: common.yaml#/components/responses/409Conflict
        '410':
          $ref: common.yaml#/components/responses/410Gone
        '429':
          $ref: common.yaml#/components/responses/429LimitExceeded
        '500':
          $ref: common.yaml#/components/responses/500InternalServerError
        '503':
          $ref: common.yaml#/components/responses/503ServiceUnavailable
        '504':
          $ref: common.yaml#/components/responses/504GatewayTimeout
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    View:
      type: object
      description: A Snowflake view
      properties:
        name:
          type: string
          description: Name of the view
          example: Example Title
        secure:
          type: boolean
          description: Whether or not this view is secure
          example: true
        kind:
          type: string
          enum:
          - PERMANENT
          - TEMPORARY
          description: Kind of the view, permanent (default) or temporary
          example: PERMANENT
        recursive:
          type: boolean
          description: Whether or not this view can refer to itself using recursive syntax withot requiring a CTE (common table expression)
          example: true
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ViewColumn'
          description: The columns of the view
          example: []
        comment:
          type: string
          description: user comment associated to an object in the dictionary
          example: example_value
        query:
          type: string
          description: Query used to create the view
          example: example_value
        created_on:
          type: string
          format: date-time
          readOnly: true
          description: Date and time when the view was created.
          example: '2026-01-15T10:30:00Z'
        database_name:
          type: string
          readOnly: true
          description: Database in which the view is stored
          example: example_value
        schema_name:
          type: string
          readOnly: true
          description: Schema in which the view is stored
          example: example_value
        owner:
          type: string
          readOnly: true
          description: Role that owns the view
          example: example_value
        owner_role_type:
          type: string
          readOnly: true
          description: The type of role that owns the view
          example: example_value
      required:
      - name
      - columns
      - query
    ViewColumn:
      type: object
      description: A column specifier in the view
      properties:
        name:
          type: string
          description: Column name
          example: Example Title
        comment:
          type: string
          description: Specifies a comment for the column
          example: example_value
        datatype:
          type: string
          readOnly: true
          description: The data type for the column
          example: example_value
      required:
      - name
  securitySchemes:
    KeyPair:
      $ref: common.yaml#/components/securitySchemes/KeyPair
    ExternalOAuth:
      $ref: common.yaml#/components/securitySchemes/ExternalOAuth
    SnowflakeOAuth:
      $ref: common.yaml#/components/securitySchemes/SnowflakeOAuth
security:
- KeyPair: []
- ExternalOAuth: []
- SnowflakeOAuth: []
